Emacs*toolBar: 0
Emacs*scrollBar: 0
Emacs*menuBar: 0

URxvt*transparent: false

URxvt*shading: 50

URxvt*saveLines: 12000

URxvt*font: xft:DejaVu Sans Mono:pixelsize=18:antialias=true:hinting=true
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=18:antialias=true:hinting=true

URxvt*scrollBar: false

URxvt*scrollBar_right: false

URxvt*scrollstyle: rxvt
URxvt*iso14755: False

#include ".config/base16-xresources/xresources/base16-mocha.Xresources"
